.App-header {
  padding: 30px 50px 0px 50px;
}
.App-content {
  padding-left: 50px;
  padding-right: 50px;
}
.App-footer {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
}
.App-footer label {
  display: block;
  padding-bottom: 10px;
}
